@font-face {
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}
@font-face {
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

/* BASIC */

* {
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  color: #000;
}

img {
  vertical-align: middle;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  color: #000;
  margin: 0;
}

.button {
  display: inline-flex;
  justify-content: center;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0;
  color: #fff;
  background-color: #756157;
  cursor: pointer;
}

.button--small {
  font-size: 16px;
  line-height: 20px;
}

.button--big {
  font-size: 20px;
  line-height: 36px;
  padding-left: 50px;
  padding-right: 50px;
}

.input {
  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  padding: 0 20px;
  border: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f2f2f2;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT-Sans", Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333;
  background-color: #f2f2f2;
}

.main-page, .inner-page {
  flex-grow: 1;
}

.container {
  width: 1090px;
  margin: 0 auto;
  padding: 0 15px;
}

.line {
  display: flex;
  flex-direction: column;
}

.page-header, .main-page,
.inner-page, .page-footer {
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.wrapper-text {
  width: 680px;
  margin: auto;
  padding: 70px 0;
  text-align: center;
}

.wrapper-text__title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.wrapper-text__description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

/* INDEX */
/* HEADER */

.page-header .line {
  flex-direction: row;
}

.logo {
  width: 140px;
  margin-right: 30px;
  margin-bottom: -6px;
  z-index: 999;
}

.navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.navigation-list__link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.navigation-list--user {
  margin-left: auto;
}

.navigation-button__link {
  width: 160px;
}

/* HERO */

.hero-welcome {
  padding-top: 50px;
  padding-bottom: 82px;
}

.hero-welcome {
  background-color: #81B3D3;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-welcome__img {
  display: block;
  margin: 0 auto;
}

/* ADVANTAGES */

.advantages-grid__list {
  /* FLEX */
  /* display: flex; */
  /* flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-grid__item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-grid__item:nth-child(4n+3) {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-grid__item .wrapper {
  width: 230px;
  text-align: center;
}

.advantages-grid__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 385px;
}

.advantages-grid__title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.advantages-grid__description {
  margin: 0;
}

.advantages-grid__item--image {
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  background-color: #82B3D3;
  color: #fff;
}

.advantages-grid__item--reverse {
  flex-direction: row-reverse;
}

.advantages-grid__item--image .advantages-grid__title {
  color: #fff;
}

/* ADVANTAGES-SERVICE */

.advantages-service__list {
  /* FLEX */
  /* display: flex; */
  /* flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-service__item {
  grid-row: 1 / -1;
}

.advantages-service__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 385px;
}

.advantages-service__item .wrapper {
  width: 230px;
  text-align: center;
}

.advantages-service__item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-service__item:nth-child(even) {
  background-color: #fff;
}

.advantages-service__image {
  margin-bottom: 30px;
}

.advantages-service__title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.advantages-service__text {
  margin: 0;
}

/* SEARCH */

.search-text__description {
  margin-bottom: 54px;
}

/* SUBSCRIBE */

.subscribe {
  background-color: #82B3D3;
  background-image: url(../images/subscribe-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.subscribe-text__title {
  color: #fff;
}

.subscribe-text__description {
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form__input {
  flex-grow: 1;
  font-size: 18px;
}

.subscribe-form__button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #82B3D3;
}

.inner-page .subscribe {
  background-color: #fff;
  background-image: none;
  color: #333;
}

.inner-page .subscribe-text__title {
  color: #333;
}

/* FOOTER */

.page-footer {
  padding: 40px 0 30px;
}

.page-footer .line {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 40px;
  background-color: #fff;
  color: inherit;
}

.contacts-address {
  display: flex;
  flex-direction: column;
}

.contacts-address__phone {
  font-size: 40px;
  font-style: normal;
  line-height: 50px;
}

.contacts-address__phone:not(:last-child) {
  margin-bottom: 10px;
}

/* CATALOG-PAGE */
/* FILTER */

.filter {
  padding: 35px 0 70px;
  background-color: #82B3D3;
  background-image: url(../images/filter-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.filter .line {
  align-items: stretch;
}

.filter-header {
  margin-bottom: 40px;
}

.filter-header__title {
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 8px;
  color: #fff;
}

.filter-header__breadcrumbs {
  display: flex;
}

.breadcrumbs-list__item {
  margin-right: 28px;
}

.breadcrumbs-list__link {
  font-size: 16px;
  color: inherit;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filter-form__group {
  margin: 0;
  padding: 0;
  border: 0;
  margin-right: 70px;
}

.filter-form__group--price {
  max-width: 288px;
  margin-left: auto;
}

.filter-form__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  margin-bottom: 30px;
}

.filter-form__item:not(:last-child) {
  margin-bottom: 16px;
}

.filter-form__label {
  display: block;
  line-height: 23px;
}

.filter-form__range {
  display: flex;
  flex-direction: column;
}

.range-control__input-wrapper {
  display: flex;
  gap: 2px;
  border-radius: 4px;
  overflow: hidden;
}

.range-control__label {
  display: flex;
  align-items: center;
  padding: 12px 12px 12px 20px;
  background-color: #f2f2f2;
}

.range-control__label span {
  color: #000;
  opacity: 0.3;
}

.range-control__label .input {
  width: 100%;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  margin-right: 12px;
}

.filter-form__buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}

.filter-form__buttons .button {
  width: 192px;
}

.submit {
  margin-bottom: 30px;
  background-color: #82B3D3;
}
.reset {
  background-color: transparent;
}

/* CATALOG-HEADER */

.catalog-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-header__title {
  flex-grow: 1;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-header__sorting {
  margin-right: 70px;
  font-family: "PT-Sans", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.view-list {
  display: flex;
  flex-wrap: wrap;
}

.view-list__item {
  display: flex;
  flex-wrap: wrap;
}

.view-list__item:not(:last-child) {
  margin-right: 8px;
}

.view-list__button {
  display: flex;
  padding: 15px 14px;
  border: 2px solid #e5e5e5;
  background-color: transparent;
  color: #000;
}

.view-list__button.is-current {
  border-color: #000;
}

/* PRODUCT */

.catalog {
  padding: 50px 0 60px;
}

.catalog-product {
  /* FLEX */
  /* display: flex; */
  /* flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 40px;
}

/* .catalog-product__item {
  display: grid;
} */

.card {
  /* display: grid;
  grid-template-rows: min-content;
  gap: 16px; */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.card-link {
  display: block;
  margin-bottom: 16px;
}

.card-link__image {
  margin-bottom: 16px;
	object-fit: contain;
}

.card-link__title {
  font-size: 24px;
  line-height: 28px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card-info__text {
  flex-grow: 1;
  margin-right: 20px;
}

.card-info__price {
  flex-shrink: 0;
  font-weight: 400;
}

.card-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: auto;
}

.card-buttons__favorite {
  background-color: #82B3D3;
}

.card-buttons__favorite.is-current {
  background-color: #7DB54F;
}

.card-buttons__stars {
  display: flex;
  align-items: center;
}

.card-buttons__rating {
  font-weight: 400;
  text-align: center;
  background-color: #F2F2F2;
  color: inherit;
}

/* PAGINATION */

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-list__item {
  margin-right: 8px;
}

.pagination-list__link {
  font-size: 20px;
  line-height: 36px;
  min-width: 60px;
  padding: 12px;
  background-color: #82B3D3;
}

.pagination-list__link.is-current,
.pagination-list__link.is-more {
  color: inherit;
}
.pagination-list__link.is-more {
  background-color: #fff;
}
.pagination-list__link.is-current {
  background-color: #F2F2F2;
}
