@font-face {
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}
@font-face {
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

/* BASIC */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT-Sans", Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333;
  background-color: #f2f2f2;
}

main {
  flex-grow: 1;
}

.container {
  width: 1090px;
  margin: 0 auto;
  padding: 0 15px;
}

.line {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* text-align: center; */
}

.page-header, .main-page,
.inner-page, .page-footer {
  background-color: #fff;
}

.title {
  color: #000;
}

.link {
  color: #000;
}

img {
  vertical-align: middle;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  background-color: #756157;
}

/* INDEX */
/* HEADER */

.page-header .line {
  flex-direction: row;
}

.logo {
  width: 140px;
  margin-right: 30px;
}

.navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.navigation-list {
  display: flex;
}

.navigation-list__link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.navigation-list--user {
  margin-left: auto;
}

/* HERO */

.hero-welcome {
  background-color: #81B3D3;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-welcome__img {
  display: block;
  margin: 0 auto;
}

/* ADVANTAGES */

.advantages-text__title {
  font-size: 30px;
  line-height: 36px;
}

.advantages-text__description {
  font-size: 22px;
  line-height: 26px;
}

.advantages-grid__list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-grid__item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-grid__item:nth-child(5n+3) {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-grid__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 385px;
}

.advantages-grid__item .wrapper {
  width: 230px;
  text-align: center;
}

.advantages-grid__title {
  font-size: 24px;
  line-height: 28px;
}

.advantages-grid--image {
  display: flex;
  flex-wrap: wrap;
  background-color: #82B3D3;
  color: #fff;
}

.advantages-grid--image:nth-of-type(5n) {
  flex-direction: row-reverse;
}

.advantages-grid--image .advantages-grid__title {
  color: #fff;
}

/* ADVANTAGES-SLOGAN */

.advantages-slogan__title {
  font-size: 30px;
  line-height: 36px;
}

.advantages-slogan__description {
  font-size: 22px;
  line-height: 26px;
}

/* ADVANTAGES-SERVICE */

.advantages-service__list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-service__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 385px;
}

.advantages-service__item .wrapper {
  width: 230px;
  text-align: center;
}

.advantages-service__item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-service__item:nth-child(even) {
  background-color: #fff;
}

.advantages-service__title {
  font-size: 24px;
  line-height: 28px;
}

/* SEARCH */

.search-slogan__title {
  font-size: 30px;
  line-height: 36px;
}

.search-slogan__description {
  font-size: 22px;
  line-height: 26px;
}

.search-links__link {
  font-size: 20px;
  line-height: 26px;
}

/* SUBSCRIBE */

.subscribe {
  background-color: #82B3D3;
  background-image: url(../images/subscribe-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.subscribe-slogan__title {
  color: #fff;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-slogan__description {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form__input {
  font-size: 18px;
}

.subscribe-form__button {
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
}

/* FOOTER */

.page-footer .line {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
}

.social-list__link {
  background-color: #fff;
  color: inherit;
}

.contacts-address__phone {
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
}

/* CATALOG-PAGE */
/* FILTER */

.filter {
  background-color: #82B3D3;
  background-image: url(../images/filter-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.filter .line {
  align-items: stretch;
}

.filter-header__breadcrumbs {
  display: flex;
}

.breadcrumbs-list__item {
  margin-right: 10px;
}

.breadcrumbs-list__link {
  font-size: 16px;
  color: inherit;
}

.filter-header__title {
  font-size: 60px;
  line-height: 78px;
  color: #fff;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filter-form__group {
  margin: 0;
  padding: 0;
  border: 0;
  margin-right: 70px;
}

.filter-form__group--price {
  margin-left: auto;
}

.filter-form__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.filter-form__label {
  display: block;
  line-height: 23px;
}

.range-control__input {
  display: flex;
  gap: 2px;
}

.range-control__input input[type=text] {
  width: 143px;
  font-size: 18px;
  font-weight: 700;
}

.submit {
  background-color: #82B3D3;
}
.reset {
  background-color: transparent;
}

/* HEADER */

.catalog-header {
  display: flex;
  align-items: center;
}

.catalog-header__title {
  flex-grow: 1;
  font-size: 30px;
  line-height: 36px;
}

.catalog-header__sorting {
  margin-right: 70px;
  font-family: "PT-Sans", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.view-list__button {
  background-color: transparent;
  color: #000;
}

/* PRODUCT */

.catalog-product {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card-link__title {
  font-size: 24px;
  line-height: 28px;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.card-info__price {
  font-weight: 400;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.card-buttons__favorite {
  background-color: #82B3D3;
}

.card-buttons__favorite.is-current {
  background-color: #7DB54F;
}

.card-rating {
  display: flex;
  justify-content: space-between;
}


.card-rating__button {
  background-color: #F2F2F2;
  font-weight: 400;
  color: inherit;
}

/* PAGINATION */

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-list__link {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.pagination-list__link.is-current,
.pagination-list__link.is-more {
  color: inherit;
}
.pagination-list__link.is-more {
  background-color: #fff;
}
.pagination-list__link.is-current {
  background-color: #F2F2F2;
}
