@font-face {
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}
@font-face {
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

/* BASIC */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT-Sans", Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333;
  background-color: #f2f2f2;
}

.link {
  text-decoration: none;
  color: #000;
}

img {
  display: block;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  color: #000;
  margin: 0;
}

.custom-br {
  display: block;
}

.button {
  display: inline-flex;
  justify-content: center;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0;
  color: #fff;
  cursor: pointer;
}

.button--small {
  font-size: 16px;
  line-height: 20px;
}

.button--big {
  font-size: 20px;
  line-height: 36px;
  padding-left: 50px;
  padding-right: 50px;
}

.button--color-primary {
  background-color: #756157;
}

.button--color-primary:focus {
  background-color: #615048;
}

.button--color-primary:hover {
  background-color: #615048;
}

.button--color-primary:active {
  background-color: #756157;
  color: rgba(255, 255, 255, .3);
}

.button--color-accent {
  background-color: #82B3D3;
}

.button--color-accent:focus {
  background-color: #68A2CA;
}

.button--color-accent:hover {
  background-color: #68A2CA;
}

.button--color-accent:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, .3);
}

.button:disabled {
  background-color: #e5e5e5;
}

.input,
.select {
  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  padding: 0 20px;
}

.input {
  border: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f2f2f2;
}

.select {
  appearance: none;
  height: 48px;
  min-width: 292px;
  padding-right: 52px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url(../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
  color: #333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-page, .inner-page {
  flex-grow: 1;
}

.container {
  width: 1090px;
  margin: 0 auto;
  padding: 0 15px;
}

.line {
  display: flex;
  flex-direction: column;
}

.page-header, .main-page,
.inner-page, .page-footer {
  background-color: #fff;
}

.wrapper-text {
  width: 680px;
  margin: auto;
  padding: 70px 0;
  text-align: center;
}

.wrapper-text__title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.wrapper-text__description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

/* INDEX */
/* HEADER */

.page-header .line {
  flex-direction: row;
}

.logo {
  flex: 0 0 140px;
  height: 64px;
  margin-right: 28px;
  z-index: 999;
}

.navigation {
  display: flex;
  flex: 1 1 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.navigation-list__link {
  display: block;
  position: relative;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.navigation-list__link.is-current:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 2px;
  margin: 0 16px;
  background-color: #756257;
  z-index: 999;
}

.navigation-list--user {
  justify-content: flex-end;
  flex: 1 0 135px;
  max-width: 135px;
  margin-right: 20px;
  margin-left: auto;
}

.navigation-list--user .navigation-list__link {
  display: inline-flex;
  padding: 22px 12px;
}

.navigation-list__link--search:hover,
.navigation-list__link--favorite:hover {
  color: #615048;
}

.navigation-list__link--search:active,
.navigation-list__link--favorite:active {
  color: rgba(117, 97, 87, 0.3);
}

.count {
  position: absolute;
  top: 10px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  background-color: #7db54f;
  border-radius: 20px;
}

.navigation-button {
  display: flex;
  flex-direction: column;
  flex: 0 0 160px;
  gap: 14px;
  padding: 14px 0;
}
.navigation-button__link {
  width: 160px;
}

/* HERO */

.hero {
  position: relative;
}

.hero::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  height: 57px;
  width: 100%;
  background-image: url(../images/divider.svg);
}

.hero-welcome {
  padding-top: 50px;
  padding-bottom: 82px;
}

.hero-welcome {
  background-color: #81B3D3;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-welcome__img {
  margin: 0 auto;
}

/* ADVANTAGES */

.advantages-text {
  margin-bottom: 20px;
}

.advantages-text .wrapper-text__title {
  margin-bottom: 25px;
}

.advantages-grid__list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-grid__item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-grid__item:nth-child(4n+3) {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-grid__item .wrapper {
  width: 230px;
  text-align: center;
}

.advantages-grid__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 385px;
  height: 100%;
  padding: 66px 0;
}

.advantages-grid__title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.advantages-grid__description {
  margin: 0;
}

.advantages-grid__description::before {
  content: '';
  display: block;
  position: relative;
  height: 2px;
  width: 60px;
  margin: 30px auto;
  background-color: #000;
  opacity: .3;
}

.advantages-grid__item--image {
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  background-color: #82B3D3;
  color: #fff;
}

.advantages-grid__item--reverse {
  flex-direction: row-reverse;
}

.advantages-grid__item--image .advantages-grid__title {
  color: #fff;
}

.advantages-grid__item--image .advantages-grid__description::before {
  background-color: #fff;
}

.advantages-grid__item--image img {
  object-fit: contain;
  margin: auto 0;
}

/* ADVANTAGES-SLOGAN */

.advantages-slogan .wrapper-text {
  padding: 64px 0;
}

/* ADVANTAGES-SERVICE */

.advantages-service__list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-service__item {
  grid-row: 1 / -1;
}

.advantages-service__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 385px;
  height: 100%;
  padding: 66px 0;
}

.advantages-service__item .wrapper {
  width: 230px;
  text-align: center;
}

.advantages-service__item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-service__item:nth-child(even) {
  background-color: #fff;
}

.advantages-service__image {
  margin: auto;
  margin-bottom: 30px;
}

.advantages-service__title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.advantages-service__text {
  margin: 0;
}

/* SEARCH */

.search .wrapper-text {
  padding: 96px 0;
}

.search-text__description {
  margin-bottom: 54px;
}

/* SUBSCRIBE */

.subscribe {
  background-color: #68A2CA;
  background-image: url(../images/subscribe-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.subscribe .wrapper-text {
  padding: 96px 0 104px;
}

.subscribe-text__title {
  color: #fff;
}

.subscribe-text__description {
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form__input {
  flex-grow: 1;
  font-size: 18px;
}

.subscribe-form__button {
  max-width: 370px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.inner-page .subscribe {
  background-color: #fff;
  background-image: none;
  color: #333;
}

.inner-page .subscribe-text__title {
  color: #333;
}

/* FOOTER */

.page-footer {
  padding: 40px 0 30px;
}

.page-footer .line {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social {
  flex: 0 0 144px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 40px;
  background-color: #fff;
  color: #83B3D3;
}

.social-list__link:hover {
  color: #68A2CA;
}

.social-list__link:focus {
  color: #68A2CA;
}

.social-list__link:active {
  color: rgba(104, 162, 202, 0.3);
}

.contacts-address {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

.contacts-address__phone {
  font-size: 40px;
  font-style: normal;
  line-height: 50px;
}

.contacts-address__phone:not(:last-child) {
  margin-bottom: 10px;
}

.contacts-address__phone:hover,
.footer-logo__link:hover {
  color: #756157;
}

.contacts-address__phone:focus,
.footer-logo__link:focus {
  color: #756157;
}

.contacts-address__phone:active,
.footer-logo__link:active {
  color: rgba(117, 97, 87, 0.3);
}

/* CATALOG-PAGE */
/* FILTER */

.filter {
  padding: 35px 0 70px;
  background-color: #68A2CA;
  background-image: url(../images/filter-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.filter .line {
  align-items: stretch;
}

.filter-header {
  margin-bottom: 40px;
}

.filter-header__title {
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 8px;
  color: #fff;
}

.filter-header__breadcrumbs {
  display: flex;
  align-items: center;
}

.breadcrumbs-list__item {
  display: flex;
  align-items: center;
  /* margin-right: 28px; */
}

.breadcrumbs-list__item:not(:last-child)::after {
  content: '';
  display: block;
  position: relative;
  height: 21px;
  width: 8px;
  margin: 0 11px;
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-list__link {
  font-size: 16px;
  color: inherit;
}

.breadcrumbs-list__link--home {
  height: 21px;
  width: 13px;
  background-image: url(../images/breadcrumbs-home.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.filter-form__group {
  display: flex;
  flex: 0 1 150px;
  margin: 0;
  padding: 0;
  border: 0;
}

.filter-form__group--price {
  flex-basis: 288px;
  margin-left: auto;
}

.filter-form__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  margin-bottom: 30px;
}

.filter-form__item:not(:last-child) {
  margin-bottom: 16px;
}

.filter-form__label {
  display: block;
  line-height: 23px;
}

.filter-form__range {
  display: flex;
  flex-direction: column;
}

.range-control__input-wrapper {
  display: flex;
  gap: 2px;
  border-radius: 4px;
  overflow: hidden;
}

.range-control__label {
  display: flex;
  align-items: center;
  padding: 12px 12px 12px 20px;
  background-color: #f2f2f2;
}

.range-control__label span {
  color: #000;
  opacity: 0.3;
}

.range-control__label .input {
  width: 100%;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  margin-right: 12px;
}

.filter-form__buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}

.filter-form__buttons .button {
  width: 192px;
}

.submit {
  margin-bottom: 26px;
}

.reset {
  border: 3px solid transparent;
}

.button--color-transparent {
  background-color: transparent;
}

.button--color-transparent:hover {
  color: rgba(255, 255, 255, .3);
}

.button--color-transparent:focus {
  border: 3px solid #83B3D3;
}

.button--color-transparent:active {
  color: rgba(255, 255, 255, .3);
}

/* CATALOG-HEADER */

.catalog-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-header__title {
  flex-grow: 1;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-header__sorting {
  margin-right: 70px;
}

.catalog-header__sorting:hover {
  border-color: #68A2CA;
}

.catalog-header__sorting:focus {
  border-color: #68A2CA;
}

.catalog-header__sorting:disabled {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}

.view-list {
  display: flex;
  flex-wrap: wrap;
}

.view-list__item {
  display: flex;
  flex-wrap: wrap;
}

.view-list__item:not(:last-child) {
  margin-right: 8px;
}

.view-list__button {
  display: flex;
  padding: 15px 14px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: transparent;
  color: #000;
}

.view-list__button.is-current {
  border-color: #000;
}

.view-list__button:hover {
  border-color: #000;
}

.view-list__button:focus {
  border-color: #68A2CA;
}

.view-list__button:active {
  border-color: #000;
}

/* PRODUCT */

.catalog {
  padding: 50px 0 60px;
}

.catalog-product {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
}

.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.card-link {
  display: block;
  margin-bottom: 16px;
}

.card-link__image {
  margin-bottom: 16px;
	object-fit: contain;
}

.card-link__title {
  font-size: 24px;
  line-height: 28px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card-info__text {
  flex-grow: 1;
  margin-right: 20px;
}

.card-info__price {
  max-width: 139px;
  font-weight: 400;
  text-align: right;
}

.card-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 16px;
  margin-top: auto;
}

.card-buttons__favorite.is-current {
  background-color: #7DB54F;
}

.card-buttons__favorite.is-current:hover {
  background-color: #6C9E42;
}

.card-buttons__favorite.is-current:focus {
  background-color: #6C9E42;
}

.card-buttons__favorite.is-current:active {
  background-color: #7DB54F;
}

.card-buttons__stars {
  background-image: url(../images/star.svg);
  background-repeat: repeat-x;
  background-position: left center;
}

.stars-4 {
  width: 90px;
}

.stars-3 {
  width: 66px;
}

.stars-2 {
  width: 42px;
}

.card-buttons__rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: #F2F2F2;
  color: inherit;
  cursor: default;
}

/* PAGINATION */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-list__link {
  font-size: 20px;
  line-height: 36px;
  min-width: 60px;
  padding: 12px;
  background-color: #82B3D3;
}

.pagination-list__link.is-current,
.pagination-list__link.is-more {
  color: inherit;
  cursor: default;
}

.pagination-list__link.is-more {
  background-color: #fff;
}
.pagination-list__link.is-current {
  background-color: #F2F2F2;
}
